*{box-sizing: border-box;}
/*container*/
.box{
    font-size: 10px;
    color: rgb(124, 121, 121);
    padding: 10px;
    text-align: center;
    font-family: Montserat;
    font-weight: 300;
    box-sizing: border-box;
    flex-grow: 1;
    
   }
   
/*header*/
.header{background:rgb(18, 18, 33);
    color: white;
    font-size: 1rem;
}

.overAll{
    display: flex;
    flex-direction: column;
}

/*header picture*/
#profilephoto{
    width: 10rem;
    height: 10%;
    border-radius: 500%;
    border-color: rgb(244, 217, 84);
    border-style: inset;
}
/* sidebar styling*/
.sidebar{
    background: white;
    font-size: 20px;
    color: rgb(124, 121, 121);
}
/*navigation bar bootstrap text override*/
.nav{
    color: rgb(20, 142, 207) !important;
}

/*.navbar{
    width: 2px;
    align-items: center;
    margin-left: 80px;

}*/

/*sidebar responsive images resizing*/
picture>source{
    width: 230px;
}

picture>img{
    width: 230px;
    
}
/*beginning of main content font size*/
.education{
    font-size: 20px;
}

/*card styling*/
.card{
    width:20%;
    padding: 5px;
}

#codeSpaceLogo{
    width: 15rem;
    height: 15rem;
    align-items: center;
    margin-left: 19%;
    padding: 4px;
}

#tutLogo{
    width: 20rem;
    height: 20rem;
    align-items: right;
    margin-left:17%;
}
/*middle of main content styling*/
.experience{
    font-size:20px;
    color: rgb(49, 10, 55);
}
/*table styling*/
.table{
    width: 100%;
    border-collapse: collapse;
}


.table td,.table th{
    padding:12px 15px;
    border:1px solid #ddd;
    text-align: center;
    font-size: 16px;
}

.table th{
    background-color: silver;
    color: #797676;
}

.table tbody tr:nth-child(even){
    background-color: #f5f5f5;
}


.acting{
    margin:0;
    padding:20px;
}

/*end of main content styling*/

 .skills{
    font-size: 20px;
}
/*carousel styling*/
#html5{
    width: 15rem;
    height: 15rem;
    align-items: center;
    margin-left: 40%;

}


#css3{
    width: 10rem;
    height: 15rem;
    align-items: center;
    margin-left: 40%;
}

#javaScript{
    width: 20rem;
    height: 15rem;
    align-items: center;
    margin: 30%;
    margin-top: 2%;
    margin-bottom: 0%;
    
}

/*footer styling*/
.footer{
    background: rgb(18, 18, 33);
}
.container{
    min-width: 100%;
}

main{
    display: flex;
    flex-direction: row;
}

section{
    display: flex;
    flex-direction: column;
    flex: 5;
}



/*text-design*/
h2{
    color: white;
    font-size: 40px;
    background-color: rgb(106, 105, 107);
    margin: 20px;
    padding-left: 1%;
    border-style:none;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: rgb(28, 28, 50);
    border-radius: 10px 10px 10px 10px;   
}
.drama{
    font-family: Montserat;
    font-size: 20px;
    color: #797676;
}

.codeSpace{
    font-family: Montserat;
    font-size: 20px;
    color: #797676;
}

.menu{
    background-color: rgb(250, 246, 246);
    color: rgb(124, 121, 121);
}


.sidebar a{
    text-decoration: none;
}

.education a{
    text-decoration: none;
}

ul{ list-style: none;
}

.bullets{list-style: none;}

/*animation*/
@keyframes animatedLogo{

    100%{background-color: rgb(236, 225, 122);}
}

.h2:hover{
    background: rgb(236, 225, 122);
    color: white;
    animation-name: animatedLogo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


/*responsive*/

@media  screen and (max-width:500px) {
    main{
        flex-direction: column;
        flex-basis: 100;
    }
    .experience{font-size: 16px;}
    .table thead{
        display: none;
    }
    
     .table, .table tbody, .table tr, .table td{
        display:block;
        width: 100%;
    }
    
    .table tr{
        margin-bottom:15px;
    }

    .table td{
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }

    .table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align:left;
        

    }
   }

   @media  screen and (max-width:717px) {
    main{
        flex-direction: column;
        flex-basis: 100;
    }
     .experience{font-size: 16px;}
}